:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

.full {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.heading {
  font-size: 1rem;
}

.upload {
  border: 2px dashed blue;
  width: 20vw;
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
}

.upload-img {
  width: 80%;
  height: 80%;
}

.upload-btn {
  width: 20vw;
  padding: 10px;
  background-color: #74c0fc;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 576px) {
  .upload {
    width: 60vw;
    font-size: 0.6rem;
  }
  .upload-msg {
    text-wrap: nowrap;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .upload {
    width: 50vw;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .upload {
    width: 40vw;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .upload {
    width: 30vw;
  }
}
